<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="smaller_shaft">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="2.0203E-05 0.03832 3.0078E-05"
        rpy="0 0 0" />
      <mass
        value="2.0706" />
      <inertia
        ixx="0.001325"
        ixy="1.2436E-06"
        ixz="-3.6372E-07"
        iyy="0.0018368"
        iyz="-6.2121E-12"
        izz="0.0013249" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smaller_shaft/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.65098 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smaller_shaft/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>